@page  "/logIn"
<h3>Добро пожаловать!</h3>

<form class="form-inline row align-items-start">
    <div class="col">
        <br />
        <h5>Вход</h5>
        <br />
        Пароль
        <br />
        <input type="password" id="Pass" @bind="@pass" />
        <br />
        <br />
        Телефон
        <br />
        <input type="number" id="Phone" @bind="@phone" />
        <br />
        <br />
        <button class="btn btn-warning">Войти</button>
    </div>
    <div class="col">
        <br />
        <h5>Регистрация</h5>
        <br />
        Имя
        <br />
        <input type="text" id="Name" @bind="@name" />
        <br />
        <br />
        Фамилия
        <br />
        <input type="text" id="Surname" @bind="@surname" />
        <br />
        <br />
        Отчество
        <br />
        <input type="text" id="Middlename" @bind="@middlename" />
        <br />
        <br />
        Телефон
        <br />
        <input type="number" id="Phone" @bind="@phone" />
        <br />
        <br />
        Пароль
        <br />
        <input type="password" id="Pass" @bind="@pass" />
        <br />
        <br />
        <button class="btn btn-warning">Зарегистрироваться</button>
    </div>
</form>
@code {
    string name;
    string surname;
    string middlename;
    int phone;
    string pass;
}